{{!-- // views/partials/header.hbs --}}
<header class="header">
  <img src="/images/logo.png" class="logo" alt="Logo"> 
  <nav>
    <a href="/">Home</a>
      <a href="#">About</a> |
      <a href="#">Contact</a>
    <a href="/students">Students</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
  </nav>
</header>