<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lora:wght@400;500&family=Manrope:wght@400;500&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="css/dashboard.css">
  <link rel="stylesheet" href="css/students.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="css/newStudent.css">
  <link rel="stylesheet" href="css/admin.css">
  <title>{{title}}</title>
</head>
<body>
  {{> header}}
  <main class="main-content">
    {{{body}}}
  </main>
  {{> footer}}

  <script src="/js/students.js"></script>
</body>
</html>
