<div class="admin">
  <h2 class="admin-title">Admin Dashboard</h2>
  <div class="admin-container">
    <a href="/recommendations" class="admin-link">Recommendation</a>
    <a href="/guidance" class="admin-link">Guidance</a>
    <a href="/students" class="admin-link">Students</a>
  </div>
</div>